*{
    margin:0px;
    font-family: Roboto Slab;
}
body{
    background:#4b5cc4;
}

.container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width:800px;
    width:100%;
}

.container section{
    position:relative;
    max-width:350px;
    text-align:center;
    padding:70px 0px;
    color:#4b5cc4;
    margin:10px 0px;
    border-radius:20px;
    background:white;
}


@media(max-width:768px)
{
    .container{
        grid-template-columns: repeat(1,1fr);
        top:60px;
        left:50%;
        transform:translate(-50%,0%);
        max-width:350px;

    }
    .container section{
        position:relative;
        max-width:350px;
        width:100%;
        text-align:center;
        padding:50px 0px;
        color:#4b5cc4;
        border-radius:20px;
        background:white;
    }
}
